@import './_variables';
@import 'bootstrap/scss/bootstrap';

.card-dull {
  h2 {
    font-size: $h5-font-size;
  }
  &.card,
  .list-group-item {
    background-color: lighten($brown-faded, 10%);
    border-color: darken($brown-faded, 5%);
    i {
      color: darken($brown-faded, 50%);
    }
  }
}
