@import './_variables';
@import 'bootstrap/scss/bootstrap';

$constrainer-width: map-get($container-max-widths, 'xl') + 280px;

#root {
  background-color: $gray-100;
}

.constrainer {
  background-color: $white;
  overflow: hidden;

  @media (min-width: $constrainer-width+1px) {
    border: 1px solid rgba($black, 0.125);
    border-top: 0;
    border-bottom: 0;
    margin: auto;
    width: $constrainer-width;
    &::before,
    &::after {
      content: '';
      display: table;
      clear: both;
    }
  }
}

.card-dull {
  h2 {
    font-size: $h5-font-size;
  }
  &.card,
  .list-group-item {
    background-color: lighten($brown-faded, 10%);
    border-color: darken($brown-faded, 5%);
    i {
      color: darken($brown-faded, 50%);
    }
  }
}

.card,
.card > * {
  min-height: 0.01px; // IE11 flex fix
}
